<div class="jumbotron">
  <h1>Just simple English position exercise.</h1>
  <p class="lead">
       
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
   <ul class="list-inline">
    <li class="list-group-item" data-ng-repeat="preposition in prepositions | filter:{active:true}">
      {{preposition.description}}
    </li>
  </ul>
  <div>
    <div data-ng-repeat="preposition in prepositions | filter:{active:true}">
      <div class="clearfix" data-ng-if="$index % 4 == 0"></div>
      <div class="col-md-3 col-sm-3">
        <img data-ng-src="{{preposition.imagePath}}"/>
        <select data-ng-model="allpreposition" data-ng-change="selectHandler(allpreposition,preposition);hide=true" data-ng-options="preposition.description for preposition in prepositions  | filter:{active:true}">
          <option value="" data-ng-init="itemsCount=itemsCount+1" data-ng-hide="hide">-- Please select --</option>
        </select>
      </div>
    </div>
  </div>
</div>