<div class="jumbotron">
  <h2>Select the word in the selects that matched best picture from the left side.</h2>
</div>

<div class="row marketing">
   <ul class="list-inline">
    <li class="list-group-item" data-ng-repeat="preposition in prepositions">
      {{preposition.description}}
    </li>
  </ul>
  <div>
    <div data-ng-repeat="currentPreposition in prepositions">
      <div class="clearfix" data-ng-if="$index % 4 == 0"></div>
      <div class="col-md-3 col-sm-3">
        <img data-ng-src="{{currentPreposition.imagePath}}"/>
        <select data-ng-model="selectedPreposition" data-ng-change="selectHandler(currentPreposition,selectedPreposition);hide=true" data-ng-options="preposition.description for preposition in prepositions">
          <option value="" data-ng-hide="hide">-- Please select --</option>
        </select>
      </div>
    </div>
    <div class="container" data-ng-show="prepositions.length === 0">
        Congratulations! You finish the exercise. You can start again if you want. 
        <br/>
        <button type="button" data-ng-click="initPrepositions()" class="btn btn-primary">Start test again</button>
    </div>
  </div>
</div>