<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <div>
    <span data-ng-repeat="preposition in prepositions | filter:{active:true}">
      {{preposition.description}}
    </span>
  </div>
  <div>
    <div data-ng-repeat="preposition in prepositions | filter:{active:true}">
      <img data-ng-src="{{preposition.imagePath}}"/>
      <select data-ng-model="allpreposition" data-ng-change="selectHandler(allpreposition,preposition)" data-ng-options="preposition.description for preposition in prepositions  | filter:{active:true}"></select>
    </div>
  </div>
</div>
